# coding: utf-8

"""
    vault/kernel/core_api/proto/v1/accounts/core_api_account_schedule_tags.proto

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: version not set
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from common.vault.oas.api_client import ApiClient


class CoreAPIContractModulesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def batch_get_contract_module_versions(self, **kwargs):  # noqa: E501
        """Retrieves one or more Contract Module Versions using the Contract Module Version ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_get_contract_module_versions(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] ids: List of IDs of the Contract Module Versions to retrieve.
        :param list[str] fields_to_include: Additional fields to return; optional. Some Contract Module Version fields are omitted by default as they are bulky or costly; if those fields are specified here, they will be populated in the response.
        :return: ContractModulesBatchGetContractModuleVersionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.batch_get_contract_module_versions_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.batch_get_contract_module_versions_with_http_info(**kwargs)  # noqa: E501
            return data

    def batch_get_contract_module_versions_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves one or more Contract Module Versions using the Contract Module Version ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_get_contract_module_versions_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] ids: List of IDs of the Contract Module Versions to retrieve.
        :param list[str] fields_to_include: Additional fields to return; optional. Some Contract Module Version fields are omitted by default as they are bulky or costly; if those fields are specified here, they will be populated in the response.
        :return: ContractModulesBatchGetContractModuleVersionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ids', 'fields_to_include']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method batch_get_contract_module_versions" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ids' in params:
            query_params.append(('ids', params['ids']))  # noqa: E501
            collection_formats['ids'] = 'multi'  # noqa: E501
        if 'fields_to_include' in params:
            query_params.append(('fields_to_include', params['fields_to_include']))  # noqa: E501
            collection_formats['fields_to_include'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/contract-module-versions:batchGet', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ContractModulesBatchGetContractModuleVersionsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def batch_get_contract_modules(self, **kwargs):  # noqa: E501
        """Retrieves one or more Contract Modules using the Contract Module ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_get_contract_modules(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] ids: List of IDs of the Contract Modules to retrieve.
        :return: ContractModulesBatchGetContractModulesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.batch_get_contract_modules_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.batch_get_contract_modules_with_http_info(**kwargs)  # noqa: E501
            return data

    def batch_get_contract_modules_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves one or more Contract Modules using the Contract Module ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_get_contract_modules_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] ids: List of IDs of the Contract Modules to retrieve.
        :return: ContractModulesBatchGetContractModulesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ids']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method batch_get_contract_modules" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ids' in params:
            query_params.append(('ids', params['ids']))  # noqa: E501
            collection_formats['ids'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/contract-modules:batchGet', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ContractModulesBatchGetContractModulesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def batch_get_smart_contract_module_versions_links(self, **kwargs):  # noqa: E501
        """Retrieves one or more Smart Contract Module Versions Links using the Smart Contract Module Versions Link ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_get_smart_contract_module_versions_links(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] ids: List of IDs of the Smart Contract Module Versions Links to retrieve.
        :return: ContractModulesBatchGetSmartContractModuleVersionsLinksResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.batch_get_smart_contract_module_versions_links_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.batch_get_smart_contract_module_versions_links_with_http_info(**kwargs)  # noqa: E501
            return data

    def batch_get_smart_contract_module_versions_links_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves one or more Smart Contract Module Versions Links using the Smart Contract Module Versions Link ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_get_smart_contract_module_versions_links_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] ids: List of IDs of the Smart Contract Module Versions Links to retrieve.
        :return: ContractModulesBatchGetSmartContractModuleVersionsLinksResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ids']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method batch_get_smart_contract_module_versions_links" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ids' in params:
            query_params.append(('ids', params['ids']))  # noqa: E501
            collection_formats['ids'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/smart-contract-module-versions-links:batchGet', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ContractModulesBatchGetSmartContractModuleVersionsLinksResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_contract_module(self, body, **kwargs):  # noqa: E501
        """Creates a Contract Module.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_contract_module(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ContractModulesCreateContractModuleRequest body: (required)
        :return: ContractModulesContractModule
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_contract_module_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_contract_module_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_contract_module_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a Contract Module.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_contract_module_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ContractModulesCreateContractModuleRequest body: (required)
        :return: ContractModulesContractModule
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_contract_module" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_contract_module`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/contract-modules', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ContractModulesContractModule',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_contract_module_version(self, body, **kwargs):  # noqa: E501
        """Creates a Contract Module Version.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_contract_module_version(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ContractModulesCreateContractModuleVersionRequest body: (required)
        :return: ContractModulesContractModuleVersion
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_contract_module_version_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_contract_module_version_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_contract_module_version_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a Contract Module Version.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_contract_module_version_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ContractModulesCreateContractModuleVersionRequest body: (required)
        :return: ContractModulesContractModuleVersion
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_contract_module_version" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_contract_module_version`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/contract-module-versions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ContractModulesContractModuleVersion',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_smart_contract_module_versions_link(self, body, **kwargs):  # noqa: E501
        """Creates a Smart Contract Module Versions Link.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_smart_contract_module_versions_link(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ContractModulesCreateSmartContractModuleVersionsLinkRequest body: (required)
        :return: ContractModulesSmartContractModuleVersionsLink
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_smart_contract_module_versions_link_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_smart_contract_module_versions_link_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_smart_contract_module_versions_link_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a Smart Contract Module Versions Link.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_smart_contract_module_versions_link_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ContractModulesCreateSmartContractModuleVersionsLinkRequest body: (required)
        :return: ContractModulesSmartContractModuleVersionsLink
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_smart_contract_module_versions_link" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_smart_contract_module_versions_link`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/smart-contract-module-versions-links', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ContractModulesSmartContractModuleVersionsLink',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_contract_module_versions(self, contract_module_id, page_size, **kwargs):  # noqa: E501
        """Lists Contract Module Versions.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_contract_module_versions(contract_module_id, page_size, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str contract_module_id: The Contract Module ID to retrieve values for.  Required. (required)
        :param int page_size: The number of Contract Module Versions to be retrieved.  Required. Min: 1. Max: 20. (required)
        :param str page_token: The token of the page the results are to be retrieved from. If empty, this returns the first page of results.
        :return: ContractModulesListContractModuleVersionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_contract_module_versions_with_http_info(contract_module_id, page_size, **kwargs)  # noqa: E501
        else:
            (data) = self.list_contract_module_versions_with_http_info(contract_module_id, page_size, **kwargs)  # noqa: E501
            return data

    def list_contract_module_versions_with_http_info(self, contract_module_id, page_size, **kwargs):  # noqa: E501
        """Lists Contract Module Versions.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_contract_module_versions_with_http_info(contract_module_id, page_size, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str contract_module_id: The Contract Module ID to retrieve values for.  Required. (required)
        :param int page_size: The number of Contract Module Versions to be retrieved.  Required. Min: 1. Max: 20. (required)
        :param str page_token: The token of the page the results are to be retrieved from. If empty, this returns the first page of results.
        :return: ContractModulesListContractModuleVersionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['contract_module_id', 'page_size', 'page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_contract_module_versions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'contract_module_id' is set
        if ('contract_module_id' not in params or
                params['contract_module_id'] is None):
            raise ValueError("Missing the required parameter `contract_module_id` when calling `list_contract_module_versions`")  # noqa: E501
        # verify the required parameter 'page_size' is set
        if ('page_size' not in params or
                params['page_size'] is None):
            raise ValueError("Missing the required parameter `page_size` when calling `list_contract_module_versions`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'contract_module_id' in params:
            query_params.append(('contract_module_id', params['contract_module_id']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('page_token', params['page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/contract-module-versions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ContractModulesListContractModuleVersionsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_contract_modules(self, page_size, **kwargs):  # noqa: E501
        """Lists Contract Modules.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_contract_modules(page_size, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page_size: The number of Contract Modules to be retrieved.  Required. Min: 1. Max: 50. (required)
        :param str page_token: The token of the page the results are to be retrieved from. If empty, this returns the first page of results.
        :return: ContractModulesListContractModulesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_contract_modules_with_http_info(page_size, **kwargs)  # noqa: E501
        else:
            (data) = self.list_contract_modules_with_http_info(page_size, **kwargs)  # noqa: E501
            return data

    def list_contract_modules_with_http_info(self, page_size, **kwargs):  # noqa: E501
        """Lists Contract Modules.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_contract_modules_with_http_info(page_size, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page_size: The number of Contract Modules to be retrieved.  Required. Min: 1. Max: 50. (required)
        :param str page_token: The token of the page the results are to be retrieved from. If empty, this returns the first page of results.
        :return: ContractModulesListContractModulesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page_size', 'page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_contract_modules" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'page_size' is set
        if ('page_size' not in params or
                params['page_size'] is None):
            raise ValueError("Missing the required parameter `page_size` when calling `list_contract_modules`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('page_token', params['page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/contract-modules', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ContractModulesListContractModulesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_smart_contract_module_versions_links(self, page_size, **kwargs):  # noqa: E501
        """Lists Smart Contract Module Versions' Links.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_smart_contract_module_versions_links(page_size, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page_size: The number of Contract Module Versions to be retrieved.  Required. Min: 1. Max: 50. (required)
        :param list[str] smart_contract_version_ids: The Smart Contract Version IDs to retrieve values for.
        :param list[str] contract_module_version_ids: The Contract Module Version IDs to retrieve values for.
        :param str page_token: The token of the page the results are to be retrieved from. If empty, this returns the first page of results.
        :return: ContractModulesListSmartContractModuleVersionsLinksResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_smart_contract_module_versions_links_with_http_info(page_size, **kwargs)  # noqa: E501
        else:
            (data) = self.list_smart_contract_module_versions_links_with_http_info(page_size, **kwargs)  # noqa: E501
            return data

    def list_smart_contract_module_versions_links_with_http_info(self, page_size, **kwargs):  # noqa: E501
        """Lists Smart Contract Module Versions' Links.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_smart_contract_module_versions_links_with_http_info(page_size, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page_size: The number of Contract Module Versions to be retrieved.  Required. Min: 1. Max: 50. (required)
        :param list[str] smart_contract_version_ids: The Smart Contract Version IDs to retrieve values for.
        :param list[str] contract_module_version_ids: The Contract Module Version IDs to retrieve values for.
        :param str page_token: The token of the page the results are to be retrieved from. If empty, this returns the first page of results.
        :return: ContractModulesListSmartContractModuleVersionsLinksResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page_size', 'smart_contract_version_ids', 'contract_module_version_ids', 'page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_smart_contract_module_versions_links" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'page_size' is set
        if ('page_size' not in params or
                params['page_size'] is None):
            raise ValueError("Missing the required parameter `page_size` when calling `list_smart_contract_module_versions_links`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'smart_contract_version_ids' in params:
            query_params.append(('smart_contract_version_ids', params['smart_contract_version_ids']))  # noqa: E501
            collection_formats['smart_contract_version_ids'] = 'multi'  # noqa: E501
        if 'contract_module_version_ids' in params:
            query_params.append(('contract_module_version_ids', params['contract_module_version_ids']))  # noqa: E501
            collection_formats['contract_module_version_ids'] = 'multi'  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('page_token', params['page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/smart-contract-module-versions-links', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ContractModulesListSmartContractModuleVersionsLinksResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
