# coding: utf-8

"""
    vault/kernel/core_api/proto/v1/accounts/core_api_account_schedule_tags.proto

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: version not set
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from common.vault.oas.api_client import ApiClient


class CoreAPIGlobalParametersApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def batch_get_global_parameters(self, **kwargs):  # noqa: E501
        """Retrieves `GlobalParameter`s for the provided IDs.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_get_global_parameters(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] ids: A list of IDs of `GlobalParameter`s to be retrieved.
        :return: GlobalParametersBatchGetGlobalParametersResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.batch_get_global_parameters_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.batch_get_global_parameters_with_http_info(**kwargs)  # noqa: E501
            return data

    def batch_get_global_parameters_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves `GlobalParameter`s for the provided IDs.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_get_global_parameters_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] ids: A list of IDs of `GlobalParameter`s to be retrieved.
        :return: GlobalParametersBatchGetGlobalParametersResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ids']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method batch_get_global_parameters" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ids' in params:
            query_params.append(('ids', params['ids']))  # noqa: E501
            collection_formats['ids'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/global-parameters:batchGet', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GlobalParametersBatchGetGlobalParametersResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_global_parameter(self, body, **kwargs):  # noqa: E501
        """Creates a new `GlobalParameter`. It also creates a new `GlobalParameterValue` which will have the value specified in the request, and the effective timestamp of the Unix epoch.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_global_parameter(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GlobalParametersCreateGlobalParameterRequest body: (required)
        :return: GlobalParametersGlobalParameter
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_global_parameter_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_global_parameter_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_global_parameter_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a new `GlobalParameter`. It also creates a new `GlobalParameterValue` which will have the value specified in the request, and the effective timestamp of the Unix epoch.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_global_parameter_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GlobalParametersCreateGlobalParameterRequest body: (required)
        :return: GlobalParametersGlobalParameter
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_global_parameter" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_global_parameter`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/global-parameters', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GlobalParametersGlobalParameter',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_global_parameter_value(self, body, **kwargs):  # noqa: E501
        """Creates a new `GlobalParameterValue`.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_global_parameter_value(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GlobalParametersCreateGlobalParameterValueRequest body: (required)
        :return: GlobalParametersGlobalParameterValue
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_global_parameter_value_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_global_parameter_value_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_global_parameter_value_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a new `GlobalParameterValue`.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_global_parameter_value_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GlobalParametersCreateGlobalParameterValueRequest body: (required)
        :return: GlobalParametersGlobalParameterValue
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_global_parameter_value" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_global_parameter_value`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/global-parameter-values', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GlobalParametersGlobalParameterValue',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_global_parameter(self, id, **kwargs):  # noqa: E501
        """Retrieves a `GlobalParameter`.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_global_parameter(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The ID of the `GlobalParameter` to be retrieved. (required)
        :return: GlobalParametersGlobalParameter
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_global_parameter_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_global_parameter_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_global_parameter_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves a `GlobalParameter`.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_global_parameter_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The ID of the `GlobalParameter` to be retrieved. (required)
        :return: GlobalParametersGlobalParameter
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_global_parameter" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_global_parameter`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/global-parameters/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GlobalParametersGlobalParameter',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_global_parameter_values(self, global_parameter_id, page_size, **kwargs):  # noqa: E501
        """Lists `GlobalParameterValue`s for a given `GlobalParameter` ID and an optional time range with pagination.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_global_parameter_values(global_parameter_id, page_size, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str global_parameter_id: The `GlobalParameter` ID to retrieve values for.  Required. (required)
        :param int page_size: The number of `GlobalParametersValues` to be retrieved.  Required. Min: 1. Max: 100. (required)
        :param RangesTimestampRange effective_timestamp_range:
        :param str page_token: The token of the page the results are to be retrieved from. If empty, this returns the first page of results.
        :return: GlobalParametersListGlobalParameterValuesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_global_parameter_values_with_http_info(global_parameter_id, page_size, **kwargs)  # noqa: E501
        else:
            (data) = self.list_global_parameter_values_with_http_info(global_parameter_id, page_size, **kwargs)  # noqa: E501
            return data

    def list_global_parameter_values_with_http_info(self, global_parameter_id, page_size, **kwargs):  # noqa: E501
        """Lists `GlobalParameterValue`s for a given `GlobalParameter` ID and an optional time range with pagination.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_global_parameter_values_with_http_info(global_parameter_id, page_size, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str global_parameter_id: The `GlobalParameter` ID to retrieve values for.  Required. (required)
        :param int page_size: The number of `GlobalParametersValues` to be retrieved.  Required. Min: 1. Max: 100. (required)
        :param RangesTimestampRange effective_timestamp_range:
        :param str page_token: The token of the page the results are to be retrieved from. If empty, this returns the first page of results.
        :return: GlobalParametersListGlobalParameterValuesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['global_parameter_id', 'page_size', 'effective_timestamp_range', 'page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_global_parameter_values" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'global_parameter_id' is set
        if ('global_parameter_id' not in params or
                params['global_parameter_id'] is None):
            raise ValueError("Missing the required parameter `global_parameter_id` when calling `list_global_parameter_values`")  # noqa: E501
        # verify the required parameter 'page_size' is set
        if ('page_size' not in params or
                params['page_size'] is None):
            raise ValueError("Missing the required parameter `page_size` when calling `list_global_parameter_values`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'global_parameter_id' in params:
            query_params.append(('global_parameter_id', params['global_parameter_id']))  # noqa: E501
        if 'effective_timestamp_range' in params:
            query_params.append(('effective_timestamp_range', params['effective_timestamp_range']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('page_token', params['page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/global-parameter-values', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GlobalParametersListGlobalParameterValuesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_global_parameters(self, page_size, **kwargs):  # noqa: E501
        """Lists `GlobalParameters` with pagination.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_global_parameters(page_size, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page_size: The number of `GlobalParameter`s to be retrieved.  Required. Min: 1. Max: 100. (required)
        :param str page_token: The token of the page the results are to be retrieved from. If empty, this returns the first page of results.
        :return: GlobalParametersListGlobalParametersResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_global_parameters_with_http_info(page_size, **kwargs)  # noqa: E501
        else:
            (data) = self.list_global_parameters_with_http_info(page_size, **kwargs)  # noqa: E501
            return data

    def list_global_parameters_with_http_info(self, page_size, **kwargs):  # noqa: E501
        """Lists `GlobalParameters` with pagination.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_global_parameters_with_http_info(page_size, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page_size: The number of `GlobalParameter`s to be retrieved.  Required. Min: 1. Max: 100. (required)
        :param str page_token: The token of the page the results are to be retrieved from. If empty, this returns the first page of results.
        :return: GlobalParametersListGlobalParametersResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page_size', 'page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_global_parameters" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'page_size' is set
        if ('page_size' not in params or
                params['page_size'] is None):
            raise ValueError("Missing the required parameter `page_size` when calling `list_global_parameters`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('page_token', params['page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/global-parameters', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GlobalParametersListGlobalParametersResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
