# coding: utf-8

"""
    vault/kernel/core_api/proto/v1/accounts/core_api_account_schedule_tags.proto

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: version not set
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from common.vault.oas.api_client import ApiClient


class CoreAPISupervisorContractsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def batch_get_supervisor_contract_versions(self, **kwargs):  # noqa: E501
        """Retrieves one or more Supervisor Contract Versions using the Supervisor Contract Version ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_get_supervisor_contract_versions(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] ids: List of IDs of the Supervisor Contract Versions to retrieve.
        :param list[str] fields_to_include: Additional fields to return; optional. Some Supervisor Contract Version fields are omitted by default as they are bulky or costly; if those fields are specified here, they will be populated in the response.
        :return: SupervisorContractsBatchGetSupervisorContractVersionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.batch_get_supervisor_contract_versions_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.batch_get_supervisor_contract_versions_with_http_info(**kwargs)  # noqa: E501
            return data

    def batch_get_supervisor_contract_versions_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves one or more Supervisor Contract Versions using the Supervisor Contract Version ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_get_supervisor_contract_versions_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] ids: List of IDs of the Supervisor Contract Versions to retrieve.
        :param list[str] fields_to_include: Additional fields to return; optional. Some Supervisor Contract Version fields are omitted by default as they are bulky or costly; if those fields are specified here, they will be populated in the response.
        :return: SupervisorContractsBatchGetSupervisorContractVersionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ids', 'fields_to_include']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method batch_get_supervisor_contract_versions" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ids' in params:
            query_params.append(('ids', params['ids']))  # noqa: E501
            collection_formats['ids'] = 'multi'  # noqa: E501
        if 'fields_to_include' in params:
            query_params.append(('fields_to_include', params['fields_to_include']))  # noqa: E501
            collection_formats['fields_to_include'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/supervisor-contract-versions:batchGet', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SupervisorContractsBatchGetSupervisorContractVersionsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def batch_get_supervisor_contracts(self, **kwargs):  # noqa: E501
        """Retrieves one or more Supervisor Contracts using the Supervisor Contract ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_get_supervisor_contracts(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] ids: List of IDs of the Supervisor Contracts to retrieve.
        :return: SupervisorContractsBatchGetSupervisorContractsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.batch_get_supervisor_contracts_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.batch_get_supervisor_contracts_with_http_info(**kwargs)  # noqa: E501
            return data

    def batch_get_supervisor_contracts_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves one or more Supervisor Contracts using the Supervisor Contract ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.batch_get_supervisor_contracts_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] ids: List of IDs of the Supervisor Contracts to retrieve.
        :return: SupervisorContractsBatchGetSupervisorContractsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ids']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method batch_get_supervisor_contracts" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ids' in params:
            query_params.append(('ids', params['ids']))  # noqa: E501
            collection_formats['ids'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/supervisor-contracts:batchGet', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SupervisorContractsBatchGetSupervisorContractsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_supervisor_contract(self, body, **kwargs):  # noqa: E501
        """Creates a Supervisor Contract.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_supervisor_contract(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SupervisorContractsCreateSupervisorContractRequest body: (required)
        :return: SupervisorContractsSupervisorContract
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_supervisor_contract_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_supervisor_contract_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_supervisor_contract_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a Supervisor Contract.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_supervisor_contract_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SupervisorContractsCreateSupervisorContractRequest body: (required)
        :return: SupervisorContractsSupervisorContract
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_supervisor_contract" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_supervisor_contract`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/supervisor-contracts', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SupervisorContractsSupervisorContract',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_supervisor_contract_version(self, body, **kwargs):  # noqa: E501
        """Creates a Supervisor Contract Version.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_supervisor_contract_version(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SupervisorContractsCreateSupervisorContractVersionRequest body: (required)
        :return: SupervisorContractsSupervisorContractVersion
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_supervisor_contract_version_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_supervisor_contract_version_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_supervisor_contract_version_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a Supervisor Contract Version.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_supervisor_contract_version_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SupervisorContractsCreateSupervisorContractVersionRequest body: (required)
        :return: SupervisorContractsSupervisorContractVersion
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_supervisor_contract_version" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_supervisor_contract_version`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/supervisor-contract-versions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SupervisorContractsSupervisorContractVersion',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_supervisor_contract_versions(self, supervisor_contract_id, page_size, **kwargs):  # noqa: E501
        """Lists Supervisor Contract Versions.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_supervisor_contract_versions(supervisor_contract_id, page_size, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str supervisor_contract_id: The Supervisor Contract ID to retrieve values for.  Required. (required)
        :param int page_size: The number of Supervisor Contract Versions to be retrieved.  Required. Min: 1. Max: 50. (required)
        :param list[str] fields_to_include: Additional fields to return; optional. Some Supervisor Contract Version fields are omitted by default as they are bulky or costly; if those fields are specified here, they will be populated in the response.
        :param str page_token: The token of the page the results are to be retrieved from. If empty, this returns the first page of results.
        :return: SupervisorContractsListSupervisorContractVersionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_supervisor_contract_versions_with_http_info(supervisor_contract_id, page_size, **kwargs)  # noqa: E501
        else:
            (data) = self.list_supervisor_contract_versions_with_http_info(supervisor_contract_id, page_size, **kwargs)  # noqa: E501
            return data

    def list_supervisor_contract_versions_with_http_info(self, supervisor_contract_id, page_size, **kwargs):  # noqa: E501
        """Lists Supervisor Contract Versions.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_supervisor_contract_versions_with_http_info(supervisor_contract_id, page_size, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str supervisor_contract_id: The Supervisor Contract ID to retrieve values for.  Required. (required)
        :param int page_size: The number of Supervisor Contract Versions to be retrieved.  Required. Min: 1. Max: 50. (required)
        :param list[str] fields_to_include: Additional fields to return; optional. Some Supervisor Contract Version fields are omitted by default as they are bulky or costly; if those fields are specified here, they will be populated in the response.
        :param str page_token: The token of the page the results are to be retrieved from. If empty, this returns the first page of results.
        :return: SupervisorContractsListSupervisorContractVersionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['supervisor_contract_id', 'page_size', 'fields_to_include', 'page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_supervisor_contract_versions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'supervisor_contract_id' is set
        if ('supervisor_contract_id' not in params or
                params['supervisor_contract_id'] is None):
            raise ValueError("Missing the required parameter `supervisor_contract_id` when calling `list_supervisor_contract_versions`")  # noqa: E501
        # verify the required parameter 'page_size' is set
        if ('page_size' not in params or
                params['page_size'] is None):
            raise ValueError("Missing the required parameter `page_size` when calling `list_supervisor_contract_versions`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'supervisor_contract_id' in params:
            query_params.append(('supervisor_contract_id', params['supervisor_contract_id']))  # noqa: E501
        if 'fields_to_include' in params:
            query_params.append(('fields_to_include', params['fields_to_include']))  # noqa: E501
            collection_formats['fields_to_include'] = 'multi'  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('page_token', params['page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/supervisor-contract-versions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SupervisorContractsListSupervisorContractVersionsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_supervisor_contracts(self, page_size, **kwargs):  # noqa: E501
        """Lists Supervisor Contracts.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_supervisor_contracts(page_size, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page_size: The number of Supervisor Contracts to be retrieved.  Required. Min: 1. Max: 50. (required)
        :param str page_token: The token of the page the results are to be retrieved from. If empty, this returns the first page of results.
        :return: SupervisorContractsListSupervisorContractsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_supervisor_contracts_with_http_info(page_size, **kwargs)  # noqa: E501
        else:
            (data) = self.list_supervisor_contracts_with_http_info(page_size, **kwargs)  # noqa: E501
            return data

    def list_supervisor_contracts_with_http_info(self, page_size, **kwargs):  # noqa: E501
        """Lists Supervisor Contracts.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_supervisor_contracts_with_http_info(page_size, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page_size: The number of Supervisor Contracts to be retrieved.  Required. Min: 1. Max: 50. (required)
        :param str page_token: The token of the page the results are to be retrieved from. If empty, this returns the first page of results.
        :return: SupervisorContractsListSupervisorContractsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page_size', 'page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_supervisor_contracts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'page_size' is set
        if ('page_size' not in params or
                params['page_size'] is None):
            raise ValueError("Missing the required parameter `page_size` when calling `list_supervisor_contracts`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('page_token', params['page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/supervisor-contracts', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SupervisorContractsListSupervisorContractsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
